@import 'reset';
@import 'fonts';
@import 'variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 20px;
  height: 100%;
  direction: ltr;
  // background-color: $primary-color;
}

html {
  font-size: 16px;

  @media (min-width:300px) {
    font-size: 16px;
  }

  @media (min-width:768px) {
    font-size: 18px;
  }

  @media (min-width:1024px) {
    font-size: 19px;
  }

  @media (min-width:1205px) {
    font-size: 20px;
  }

  @media (min-width:1536px) {
    font-size: 21px;
  }

  @media (min-width:1925px) {
    font-size: 23px;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
