$primary-color: #8f93b1;
$secondary-color: #ece35a;
$input-border-color: #ccd0d3;
$input-box-shadow-color: #ebeef1;
$primary-light-color: #000f0d;

$font-simpler-regular: 'simpler-regular';
$font-simpler-light: 'simpler-light';
$font-simpler-bold: 'simpler-bold';
$font-simpler-black: 'simpler-black';